* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.contenedorPrincipal {
  display: flex;
  padding: 30px;
  font-size: 2rem;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .contenedorPrincipal {
      display: flex;
      padding: 30px;
      font-size: 2rem;
      justify-content: center;
      text-align: center;
  }
  }
